body {
    background: #000;
}

#sky, #background, #frontground, #foreground {
    background : url('../sprites/background/level1.gif') no-repeat bottom center;
    width : 640px;
    height: 224px;
    margin: auto;
    position: absolute;;
}

#frontground {
    opacity: 0.5;
}

#sky {
    background-size: 100% 100%;
}

#stage {
    margin: auto;
    text-align: center;
    height: 224px;
    width: 640px;
    display: none;
    position: relative;
}

#viewport {
    margin: auto;
    width: 500px;
    height: 224px;
    overflow: hidden;
    position: absolute;
    left: 70px;
}

#players { 
    position: absolute;  
    width: 500px;
    height: 224px;
}

#game {
    margin : auto;
    width: 800px;
    text-align: center;
    background: #000;
    padding: 50px;
}

/**
 * Declaration des styles des menus
 */
#menu {
    height: 300px;
    position : relative;
}

.menu {
    margin: auto;
    width: 256px;
    height: 193px;
    position : relative;
}

#start-page {
    text-align: center;
}

#start-page a {
    text-decoration: none;
    color : orange;
    font-size : 16px;
    font-weight: bold;
    text-transform : uppercase;
    text-align: left;
    margin: auto;
    display: block;
}

#start-page > div {
    margin: auto;
    width: 150px;
    padding-top: 50px;
}

#start-game {
    display: none;
    background: url('../sprites/menu/characterselect.png');
    background-position: -8px -8px;
}

.pselected.ryu { background-position: -9px -229px }
.pselected.honda { background-position: -71px -229px }
.pselected.blanka { background-position: -136px -229px }
.pselected.guile { background-position: -199px -229px }
.pselected.ken { background-position: -261px -229px }
.pselected.chunli { background-position: -325px -229px }
.pselected.zangief { background-position: -388px -229px }
.pselected.dalhsim { background-position: -452px -229px }
.pselected.thawk { background-position: -10px -330px }
.pselected.feilong { background-position: -71px -330px }
.pselected.deejay { background-position: -136px -330px }
.pselected.cammy { background-position: -199px -330px }
.pselected.balrog { background-position: -10px -432px }
.pselected.vega { background-position: -71px -432px }
.pselected.sagat { background-position: -136px -432px }
.pselected.bison { background-position: -199px -432px }

#blank-flash {
    height: 100%;
    width: 100%;
    background-color : #fff;
    z-index: 99;
}

#player1-selection, #player2-selection {
    height: 95px;
    width: 58px;
    position: absolute;
    background-image: url('../sprites/menu/characterselect.png');
    top: 60px;
}
#player1-selection {left: 4px;}
#player2-selection {right: 4px;}

#player-selection {
    width: 126px;
    height: 96px;
    position: absolute;
    background: url('../sprites/menu/characterselect.png');
    background-position: -280px -8px;
    top: 50px;
    left: 65px;
}

#player-selection .player {
    width : 19px;
    height: 30px;
    border: 1px solid transparent;
    float: left;
}

#player-selection .player:hover {
    border: 1px solid blue;
}

#player-selection .player.selected {
    border: 1px solid red;
}

#stage-selection {
    display: none;
    background-image: url('../sprites/menu/characterselect.png');
    background-position: -8px -549px;
}

#stage-map {
    position: absolute;
    top: 98px;
    width: 251px;
    height: 88px;
    left: 5px;
}

#stage-map .s {
    width: 30px;
    height: 22px;
    background-image: url('../sprites/menu/characterselect.png');
    background-position : -999px -999px;
    margin: 3px 5px 5px 5px;
    float: left;
}

.s:hover.japan { background-position : -274px -486px !important; }
.s:hover.brazil { background-position : -298px -486px !important;}
.s:hover.usa { background-position : -323px -486px !important;}
.s:hover.china { background-position : -349px -486px !important;}
.s:hover.thailand { background-position : -423px -486px !important;}
.s:hover.england { background-position : -584px -486px !important;}
.s:hover.hongkong { background-position : -513px -486px !important;}
.s:hover.mexico { background-position : -483px -486px !important;}
.s:hover.spain { background-position : -457px -486px !important;}
.s:hover.urss { background-position : -373px -486px !important;}

#player1, #player2, #player1 p, #player2 p {
    position: absolute; 
    padding: 0; 
    margin: 0;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    transition-property: top;
    -webkit-transition-duration: 0ms;
    -moz-transition-duration: 0ms;
    -o-transition-duration: 0ms;
    transition-duration: 0ms;
}

#running {
    position: relative;
}

#player1, #player2 {
    /*
    padding: 5px;
    border: 1px solid blue;
    border-left: 1px solid white;
    */
}

.debug #player1 p, .debug #player2 p {
    
    border: 1px solid red;
    border-left: 1px solid yellow;
    border-right: 1px solid green;
    
}

#stage-ui {
    height: 50px;
    position: absolute;
    width: 500px;
    z-index: 15;
}

#player1-health, #player2-health {
    border: 2px none grey;
    height: 12px;
    position: absolute;
    width: 220px;
    z-index: 15;
    background-color: yellow;
    top: 3px;
}

#player1-health p, #player2-health p {
    background-color: red;
    position: absolute;
    height:10px;
    margin: 1px;
    max-width: 218px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

#player1-health {
    left: 10px;
}

#player2-health {
    right: 10px;
}

#time-left {
    color: white;
    font-weight: bold;
}
